/* GLOBAL */

body {
    color: white;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
}

/* SECTIONS */

#s__1 {
    background-image: url('../img/home-comp-bg.png') !important;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#s__2 {
    background: rgb(11,142,186);
    background: linear-gradient(0deg, rgba(11,142,186,1) 0%, rgba(25,165,211,1) 100%);
}

#s__3 {
    background: rgb(0,118,158);
    background: linear-gradient(0deg, rgba(0,118,158,1) 0%, rgba(11,142,186,1) 100%);
}

#s__4 {
    background: rgb(0,84,117);
    background: linear-gradient(0deg, rgba(0,84,117,1) 0%, rgba(0,118,158,1) 100%);
}

#s__5 {
    background: rgb(3,48,76);
    background: linear-gradient(0deg, rgba(3,48,76,1) 0%, rgba(0,84,117,1) 100%);
}

#s__6 {
    background: rgb(11,19,43);
    background: linear-gradient(0deg, rgba(11,19,43,1) 0%, rgba(3,48,76,1) 100%);
}

#s__7 {
    background-color: #0b132b;
}

#s__8 {
    background-color: #0b132b;
}

#s__9 {
    background-color: #0b132b;
}

/* BILDER */

#logo__fish {
    width: 300px;
    height: auto;
    display: inline-block;
}

#logo__text {
    display: inline-block;
    margin-top: 7rem;
}

/* HEADINGS */

.s__1__heading {
    margin-top: 5rem;
}